/* declare css variable */
:root{
  /* letter-spacing */
  --lettr-spce:0.2rem;
  --bg-color:lightcoral;
  --bg-color-shade:rgb(204, 109, 109);
  --fixed-width:440px;
  --max-width:1147px;
}

*,::after,::before{
  margin: 0;
  padding: 0;
  font-family: monospace;
  letter-spacing: var(--lettr-spce);
}
body{
  background-color:var(--bg-color);
}
main{
height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
}
.container{
  width: 90vw;
  max-width: var(--fixed-width);
  background-color: white;
  border-radius: 10px;
  margin: 0 auto;
  padding: 2.5rem;
}
.birth_today-head{
  font-size: 2rem;
  margin-bottom: 1.2rem;
}
.user-profile{
  display: grid;
  grid-template-columns: auto 1fr;
  gap:1rem;
  margin-bottom: 1.2rem;
}
.user-profile img{
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius:50%;
}
.user-profile h1{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.primary-btn{
 width: 90%;
 height: 3.3rem;
 font-size: 1.3rem;
 border: transparent solid 1px;
 border-radius: .5rem;
 color: white;
 background-color: var(--bg-color);
 cursor: pointer;
}
.primary-btn:hover{
  background-color: var(--bg-color-shade);
}
.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
}